& when (@media-common = true) {
    .aw-sarp2-product-subscription-options {
        .options-margin {
            margin-top: 20px;
        }

        .subscription-details {
            display: none;
            padding: 5px 0;

            .block-title {
                margin-bottom: 15px;
                margin-top: 30px;
            }

            .subscription-details_inner {
                .subscription-details-list {
                    list-style: none;
                    margin: 0;
                    padding: 0 0 0 15px;

                    li {
                        display: table;
                        margin-bottom: 1rem;
                        width: 100%;

                        .details-field,
                        .details-value {
                            display: table-cell;
                        }

                        .details-field {
                            text-align: left;
                        }

                        .details-value {
                            text-align: right;
                        }
                    }
                }
            }
        }
    }

    .aw-sarp2-customer-subscriptions {
        .col.products {
            margin: 0 0 1rem;

            ul {
                > li {
                    margin-bottom: 0;
                }
                list-style: none;
                margin: 0;
                padding: 0;
            }
        }

        .col.next-payment-date {
            white-space: nowrap;
        }

        .payment-details {
            .wrapper {
                .card-type, .payment-type {
                    padding-top: 8px;
                }
            }
        }
    }

    .aw-sarp2-subscription-label {
        .lib-css(background-color, #dde9ee);
        .lib-css(border-radius, 4px);
        display: inline-block;
        font-size: 0.8em;
        line-height: 1.5em;
        margin: 0 0 10px;
        padding: 0 10px;
        text-transform: uppercase;
    }

    .product-item-details {
        .product-item-name {
            &.with-subscription-label {
                margin: 0;
            }
        }
    }

    .cart-totals {
        .totals {
            &.grand {
                .mark,
                .amount {
                    padding-bottom: 11px;
                    vertical-align: bottom;
                }

                .mark {
                    .aw-sarp2-subscription-label {
                        font-size: 0.6em;
                        margin: 10px 0 0 0;
                    }
                }
            }
        }
    }

    .page-product-downloadable {
        .aw-sarp2-product-subscription-options {
            clear: left;
        }

        .product-add-form {
            clear: right !important;
        }
    }

    .aw-sarp2__title {
        .page-title {
            float: left;
        }
    }

    .aw-sarp2__actions {
        text-align: right;
        margin-bottom: 5px;
    }

    .aw-sarp2__address-form {
        clear: both;

        .customer-address {
            width: 70%;
            float: left;
            margin-right: 10px;
        }
    }

    .aw-sarp2__next-payment-date-form {
        .next-payment-date input {
            width: 23rem;
            margin-right: 5px;
        }
    }

    .aw-sarp2__payment-edit-form {
        .actions-toolbar {
            display: none;
        }

        #payment-method-braintree-paypal {
            .actions-toolbar {
                display: block;
            }
        }

        .braintree-paypal-actions + .actions-toolbar {
            display: block;
        }
    }

    .aw-sarp2__subscription-confirm {
        .modal-inner-wrap {
            max-width: 750px;
        }
    }

    .form.aw-sarp2__payment-edit-form #stripe_payments_cc_save_div {
        display: none;
    }

    .table-subscription-items {
        td.col.products {
            margin: 0;
        }
    }
}
