<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <preference for="Aheadworks\Sarp2\Engine\Payment\Processor\Type\Reattempt" type="Abbott\Subscriptionhistory\Engine\Payment\Processor\Type\Reattempt" />
</config>