<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Abbott_Chargeback::Chargeback" sortOrder="10" title="Chargeback">
                    <resource id="Abbott_Chargeback::save" sortOrder="10" title="Run Chargeback Process"/>
                    <resource id="Abbott_Chargeback::delete" sortOrder="20" title="Delete Chargeback"/>
                </resource>
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Abbott_Chargeback::chargeback_integration" title="Chargeback Integration Settings" translate="title" sortOrder="40" />
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
