<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<tab id="abbott" sortOrder="99" translate="label">
			<label>Abbott</label>
		</tab>
		<section id="validateadminpassword" showInDefault="1" sortOrder="99" translate="label">
			<label>Admin Password</label>
			<tab>abbott</tab>
			<resource>Abbott_ValidateAdminPassword::config_section_validateadminpassword</resource>
			<group id="adminpassword" showInDefault="1" sortOrder="10" translate="label">
				<label>Password Length</label>
				<field id="password_length" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
					<label>Password Length</label>
					<validate>required-entry validate-digits</validate>
				</field>
			</group>
		</section>
	</system>
</config>
