<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="abbott" translate="label" sortOrder="120">
            <label>Abbott</label>
        </tab>
        <section id="cartrulemessage" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <class>separator-top</class>
            <tab>abbott</tab>
            <label>Coupon Additional Message</label>
            <resource>Abbott_CartRuleMessage::cartrulemessage</resource>
            <group id="settings" translate="label" sortOrder="10" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                <field id="enable" type="select" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable For FrontEnd</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="enable_admin" type="select" translate="label" sortOrder="10" showInDefault="1">
                    <label>Enable For Admin</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
