<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject {{trans "Reset your %store_name password" store_name=$store.frontend_name}} @-->
<!--@vars {
"var store.frontend_name":"Store Name",
"var this.getUrl($store, 'customer/account/')":"Customer Account URL",
"var this.getUrl($store,'customer/account/createPassword',[_query:[id:$customer.id,token:$customer.rp_token],_nosid:1])":"Password Reset URL",
"var customer.name":"Customer Name"
} @-->
{{template config_path="design/email/header_template"}}

<p class="greeting" style="font-family: Georgia, Arial, serif; font-size: 15px;">{{trans "%name," name=$customer.name}}</p>
<p style="font-family: Georgia, Arial, serif; font-size: 15px;">{{trans "There was recently a request to change the password for your account."}}</p>
<p style="font-family: Georgia, Arial, serif; font-size: 15px;">{{trans "If you requested this change, set a new password here:"}}</p>

<p>
                        <a style="font-family: Georgia, Arial, serif; font-size: 15px;" href="{{var this.getUrl($store,'customer/account/createPassword',[_query:[id:$customer.id,token:$customer.rp_token],_nosid:1])}}" target="_blank">{{trans "Set a New Password"}}</a>
                </p>
<p style="font-family: Georgia, Arial, serif; font-size: 15px;">{{trans "If you did not make this request, you can ignore this email and your password will remain the same."}}</p>

{{template config_path="design/email/footer_template"}}
