body {
    font-size: 11pt;
}

table {
    width: 100%
}

.text-block {
    font-family: Georgia, Arial, sans-serif, serif, EmojiFont;
    text-align: left;
}

.text-block h1 {
    font-size: 15pt;
    text-transform: uppercase;
    background: #BFE6F7;
}

.text-block table {
    width: 100%;
    font-size: 11pt;
    color: rgb(0, 42, 58);
}

.text-block table th {
    text-align: left;
}

.text-right {
    text-align: right !important;
    font-weight: 400;
    padding-right: 30px;
    padding-bottom: 12px;
}

.visit-abbott-btn {
    background: #009cde;
    color: #fff;
    padding: 20px 50px !important;
    font-size: 15pt;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    margin: 40px 0;
    font-weight: bold;
}

.padding-left-right-20 {
    padding: 0 20px;
}

.mb25 {
    margin-bottom: 25px;
    font-family: Georgia, serif, sans-serif, 'Open Sans', 'Helvetica Neue', Helvetica, Arial;
    font-size: 11pt;
}

.light-blue {
    color: rgb(0, 156, 222);
}

h3.light-blue {
    font-size: 13.5pt;
}

.padding-left15 {
    padding-left:15px !important;
}

.padding-right15 {
    padding-right:15px;
}

.order-totals th, .order-totals td {
    background-color: #fff !important;
}

.detail-table {
    text-align: left;
}

.detail-table td, .detail-table th {
    padding: 15px !important;
}

.detail-table td p {
    margin:0;
}

.detail-table th {
    width: 290px;
    text-transform: uppercase;
}

.pt25 {
    padding-top: 25px;
}

.border-top-none {
    border-top: none !important;
}

.return-heading {    
    text-transform: uppercase;
    font-size: 15px !important;
}

.green-bg {
    background-color:#4cbb17 !important;
    border-radius: 0 !important;
    padding-bottom: 0px !important;
}

.border-none {
    border: none !important;
}

.shop-now-btn {
    color: #062a06 !important;
    text-transform:  uppercase;
    padding: 20px 15px !important;
    font-size: 24px !important;
    display: inline-block;
}

.padding-left20 {
    padding-left: 20px !important;
}

.background-none {
    background-color: transparent !important;
}

.pb30 {
    padding-bottom: 30px !important;
}

.pb10 {
    padding-bottom: 10px;
}

.action-btn-container {
    background-color: transparent !important;
}

.action-btn {
    background: #009cde;
        color: #fff;
        padding: 20px 50px !important;
        font-size: 20px;
        text-transform: uppercase;
        text-decoration: none;
        display: inline-block;
        margin: 40px 0;
        font-weight: bold;
        border: none !important;
}

tr {
    padding: 0;
}

td {
    padding: 0;
}

.bg-white {
    background-color: #ffffff;
}

.shipping-padding {
    padding-right:15px;
    display: block;
}

table.email-items td.item-info, table.email-items td.item-qty, table.email-items td.item-price {
    font-family: Georgia, serif, sans-serif, 'Open Sans', 'Helvetica Neue', Helvetica, Arial;
}

.order-totals th, .order-totals td {
    font-family: Georgia, serif, sans-serif, 'Open Sans', 'Helvetica Neue', Helvetica, Arial;
}

.address-details th, .address-details td {
    font-family: Georgia, serif, sans-serif, 'Open Sans', 'Helvetica Neue', Helvetica, Arial;
}
.subscription_email .footer_identifier {
    width: 100% !important;
}