<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Asset\Minification">
        <plugin name="exclude-recaptcha-from-minification" disabled="true" />
        <plugin name="exclude-enterprise-recaptcha-from-minification" type="Abbott\EnterpriseRecaptcha\Plugin\ExcludeFromMinification"/>
    </type>
</config>
