<!--@subject {{trans "Your %store_name order has shipped" store_name=$store.getFrontendName()}} @-->
<!--@vars {
"var formattedBillingAddress|raw":"Billing Address",
"var this.getUrl($store, 'customer/account/')":"Customer Account URL",
"var order.getCustomerName()":"Customer Name",
"var order.increment_id":"Order Id",
"var payment_html|raw":"Payment Details",
"var comment":"Shipment Comment",
"var shipment.increment_id":"Shipment Id",
"layout handle=\"sales_email_order_shipment_items\" shipment=$shipment order=$order":"Shipment Items Grid",
"block class='Magento\\\\Framework\\\\View\\\\Element\\\\Template' area='frontend' template='Magento_Sales::email\/shipment\/track.phtml' shipment=$shipment order=$order":"Shipment Track Details",
"var formattedShippingAddress|raw":"Shipping Address",
"var order.shipping_description":"Shipping Description",
"var order.getShippingDescription()":"Shipping Description"
} @-->
{{template config_path="design/email/header_template"}}

<table>
    <tr class="email-intro bg-white">
        <td style="padding: 25px 20px 0 20px;">
            <p class="greeting mb25"><b>{{trans "Dear %name," name=$order.getCustomerName()}}</b></p>
            <p class="mb25">
              {{trans 'Thank you for placing your order with %store_name.com. ' store_name=$store.getFrontendName()}}
              {{trans 'We are pleased to inform you that your order is on its way!'}}
            </p>
        </td>
    </tr>
    <tr class="email-summary bg-white">
        <td style="padding: 0 15px;">
            <p class="mb25">{{trans "Your order tracking information is listed below. "}}</p>
        </td>
    </tr>
    <tr class="email-information bg-white">
        <td class="padding-left15 shipping-padding">
            <table class="order-details detail-table" border="1">
              <tr>
                <th>{{trans "Order Number:"}}</th>
                <td>{{trans "%order_id" order_id=$order.increment_id}}</td>
              </tr>
            </table>
            {{layout handle="sales_email_order_shipment_track" shipment=$shipment order=$order}}
        </td>
    </tr>
    <tr class="bg-white" style="padding-bottom: 15px;">
        <td style="padding: 15px;">
            <p class="mb25">{{trans "Kind regards,"}}</p>
            <p>{{trans "%store_name.com " store_name=$store.getFrontendName()}}
               <a href="{{customVar code=similac_contactus_url}}">{{trans"Customer Service Team"}}</a>
               {{depend store_phone}} {{trans '<a href="tel:%store_phone">(%store_phone)</a>' store_phone=$store_phone |raw}}{{/depend}}
            </p>
        </td>
    </tr>
</table>

<table class="button" width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td class="pb0">
            <table border="0" cellspacing="0" cellpadding="0" align="center">
                <tr>
                    <td align="center" class="dark-orange-bg" style="border: 20px solid #f5a12f">
                        <a class="visit-abbott-btn border-none background-none" href="{{customVar code=similacstore_url}}" target="_blank">{{trans "shop now >"}}</a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer_template"}}
