<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="abbott" translate="label" sortOrder="110">
            <label>Abbott</label>
        </tab>
        <section id="smart_cart" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Smart Cart</label>
            <tab>abbott</tab>
            <resource>Abbott_SmartCart::smartcart</resource>
            <group id="general" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="is_enabled" translate="label" type="select" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="guest_cart" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Cart Configuration</label>
                <field id="show_cart" translate="label" type="select" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Show Cart to Guest Users</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enable this to show Cart details to Guest User. This flag is independent of SmartCart Feature</comment>
                </field>
            </group>
        </section>
    </system>
</config>
