<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<tab id="abbott" sortOrder="20" translate="label">
			<label>Abbott</label>
		</tab>
		<section id="restrictcheckout" showInDefault="1" sortOrder="10" translate="label">
			<label>Checkout Restriction</label>
			<tab>abbott</tab>
			<resource>Abbott_RestrictCheckout::config_section_restrictcheckout</resource>
			<group id="restrictcheckout" showInDefault="1" sortOrder="10" translate="label">
				<label>Checkout Restriction Settings</label>
				<field id="restrictcheckout_order_limit" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
					<label>Order Limit</label>
				</field>
				<field id="restrictcheckout_message" translate="label" type="text" sortOrder="11" showInDefault="1" showInWebsite="0" showInStore="0">
					<label>Message</label>
				</field>
				<field id="restrictcheckout_customergroup" translate="label" type="multiselect" sortOrder="12" showInDefault="1" showInWebsite="0" showInStore="0">
					<label>Restricted Customer Group</label>
                    <source_model>Abbott\AdditionalAttributes\Model\Product\Attribute\Source\SubscribeCustomerGroup</source_model>
				</field>
			</group>
		</section>
	</system>
</config>
