<!--@subject {{trans "Notification for your upcoming subscription order"}} @-->
<!--@vars {
"layout handle=\"aw_sarp2_email_profile_items\" profile=$profile area=\"frontend\"":"Subscription Items Grid"
} @-->

{{template config_path="design/email/header_template"}}

<table>
    <tr class="email-intro bg-white">
        <td style="padding: 25px 20px 0 20px;">
            <p class="light-blue"><b>{{trans "Dear %customerName," customerName=$customerName}}</b></p>
        </td>
    </tr>
    <tr class="email-information bg-white">
        <td style="padding: 0 20px;">
            <p>{{trans "Your Similac Sisterhood of Motherhood Savings Club subscription order will be processed on %nextPaymentDate. If this date falls on weekend or holiday, your order will be processed the next business day." nextPaymentDate=$nextPaymentDate}}</p>
            <p class="mb25">{{trans "Your savings Club subscription can be updated by logging into your account at "}}<a href="{{customVar code=similacstore_url}}">{{trans "%store_name.com" store_name=$store.getFrontendName()}}</a> {{trans " and viewing My Account--My Scheduled Orders. Any plan changes within 24 hours of order generation will need to be completed by contacting "}}<a href="{{customVar code=similac_contactus_url}}">{{trans"Customer Service"}}</a> {{trans "at %store_phone, from %store_hours " store_name=$store.getFrontendName() store_phone=$store_phone store_hours=$store_hours |raw}}</p>
            <p class="mb25">{{trans "Once your order ships, you will receive an additional email with tracking details."}}</p>
            <p class="mb25">{{trans "Thanks for being part of the Club."}}</p>
            <p class="mb25">{{trans "Warm regards,"}}</p>
            <p class="mb25">{{trans "Similac Sisterhood of Motherhood Savings Club Customer Service Team "}}
               {{depend store_phone}} {{trans '<a href="tel:%store_phone">%store_phone</a>' store_phone=$store_phone |raw}}{{/depend}}
            </p>
        </td>
    </tr>
</table>


{{template config_path="design/email/footer_template"}}
