table {
    width: 100%
}

.text-block {
    font-family: Arial, sans-serif, serif, EmojiFont;
    text-align: left;
}

.text-block h1 {
    font-size: 20px;
    text-transform: uppercase;
    background: #17b4ed;
    color: #fff;
    margin-bottom: 0;
}

.text-block table {
    width: 100%;
    font-size: 14px;
    color: rgb(0, 42, 58);
}

.text-block table th {
    text-align: left;
}
.ml30 {
    margin-left: 30px;
}
a {
    color: #f5a12f;
    text-decoration: none;
}

.text-underline {
    text-decoration: underline;
}

.visit-abbott-btn {
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
}

.padding-left-right-20 {
    padding: 0 20px;
}

.mb25 {
    margin-bottom: 25px;
}

.pt25 {
    padding-top: 25px;
}

.light-blue {
    color: rgb(0, 156, 222);
}

.padding-left15 {
    padding-left:15px !important;
}

.padding-right15 {
    padding-right:15px;
}

.order-totals th, .order-totals td {
    background-color: #fff !important;
}

.detail-table {
    text-align: left;
}

.detail-table td, .detail-table th {
    padding: 15px !important;
}

.detail-table td p {
    margin:0;
}

.detail-table th {
    width: 290px;
    text-transform: uppercase;
}

.pt25 {
    padding-top: 25px;
}

.border-top-none {
    border-top: none;
}

.return-heading {
    background-color: #17b4ed;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px !important;
}

.green-bg {
    background-color:#4cbb17 !important;
    border-radius: 0 !important;
    padding-bottom: 0px !important;
}

.border-none {
    border: none !important;
}

.padding-left20 {
    padding-left: 20px !important;
}

.dark-orange-bg {
    background-color:#f5a12f !important;
    border-radius: 0 !important;
    padding-bottom: 0px !important;
}

.shop-now-btn {
    color: #fff !important;
    text-transform: uppercase;
    font-size: 24px !important;
    background-color: #f5a12f;
    display: inline-block;
}

.pb0 {
    padding-bottom: 0 !important;
}

.text-uppercase {
    text-transform: uppercase;
}

.action-btn-container {
    background-color:#f5a12f !important;
    border-radius: 0 !important;
    padding-bottom: 0px !important;
}

.action-btn {
    color: #fff !important;
    text-transform: uppercase;
    font-size: 24px !important;
    background-color: #f5a12f;
    display: inline-block;
    border: none !important;
}

.background-none {
    background-color: transparent !important;
}

tr {
    padding: 0;
}

td {
    padding: 0;
}

.bg-white {
    background-color: #ffffff;
}

.similac-block {
    display: block !important;
}

.shipping-padding {
    padding-right:15px;
    display: block;
}
