<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<customproductattributeexport>
			<configuration>
				<enable>1</enable>
				<allowedattribute>threshold</allowedattribute>
			</configuration>
		</customproductattributeexport>
	</default>
</config>
