<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="abbott" translate="label" sortOrder="1">
            <label>Abbott</label>
        </tab>
        <section id="gigya_integration" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
            <class>separator-top</class>
            <tab>abbott</tab>
            <label>Gigya Integration</label>
            <resource>Abbott_GigyaIM::gigya_integration</resource>
            <group id="gigya_settings" showInDefault="1" showInWebsite="1">
                <label>Gigya Settings</label>
                <field id="enable_gigya" translate="label" type="select" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="is_gigya_fields_editable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Gigya Fields Editable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
