<div class="payment-option opc-payment-additional discount-code">
  <div class="payment-option-content">
    <!-- ko foreach: getRegion('messages') -->
    <!-- ko template: getTemplate() -->
    <!-- /ko -->
    <!--/ko-->
    <span data-bind="i18n: 'Got promo code?'"></span>
    <form class="form glu-discount-form form-discount" id="discount-form">
      <div class="payment-option-inner">
        <div class="field">
          <label class="label" for="discount-code">
            <span data-bind="i18n: 'Enter promotion code'"></span>
          </label>
          <div class="control">
            <input class="input-text discount-input" type="text" id="discount-code" name="discount_code" data-validate="{'customRequiredvalidationrule':true}" data-bind="value: couponCode, attr:{disabled:isApplied() , placeholder: $t('Promo code')} " />
            <div class="actions-toolbar">
              <div class="primary">
                <!-- ko ifnot: isApplied() -->
                <button class="action action-apply" type="submit" data-bind="'value': $t('Apply Discount'), click: apply">
                  <span>
                    <!-- ko i18n: 'Apply'-->
                    <!-- /ko --></span>
                </button>
                <!-- /ko -->
                <!-- ko if: isApplied() -->
                <button class="action action-cancel" type="submit" data-bind="'value': $t('Cancel'), click: cancel">
                  <span>
                    <!-- ko i18n: 'Cancel coupon'-->
                    <!-- /ko --></span>
                </button>
                <!-- /ko -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ko foreach: getRegion('captcha') -->
      <!-- ko template: getTemplate() -->
      <!-- /ko -->
      <!-- /ko -->
    </form>
    <div class="custom_message"> 
      <div data-bind="afterRender: loadJsCustomAfterKoRender"></div> 
    </div> 
  </div>
</div>
