<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <onetrust>
            <general>
                <enabled>1</enabled>
                <oauth_token_request_url>https://uat.onetrust.com/api/access/v1/oauth/token</oauth_token_request_url>
                <get_collection_end_point>https://uat.onetrust.com/api/consentmanager/v2/collectionpoints</get_collection_end_point>
                <submit_consent_end_point>https://privacyportaluat.onetrust.com/request/v1/consentreceipts</submit_consent_end_point>
                <create_data_subject_endpoint>https://uat.onetrust.com/api/consentmanager/v1/datasubjects/dataelements</create_data_subject_endpoint>
            </general>
            <preference_center>
                <preference_center_endpoint>https://privacyportaluat.onetrust.com/ui/#/preferences/multipage/token/</preference_center_endpoint>
                <data_subject_endpoint>https://uat.onetrust.com/rest/api/preferences/v3/datasubjects/profile</data_subject_endpoint>
            </preference_center>
            <consent_sdk>
                <sdk_js_url>https://privacyportal-uat-cdn.onetrust.com/privacy-notice-scripts/otnotice-1.0.min.js</sdk_js_url>
                <sdk_endpoint>https://privacyportal-uat-cdn.onetrust.com/</sdk_endpoint>
                <sdk_storage_container>5178d034-ca80-4187-955b-d0201d3314bf</sdk_storage_container>
            </consent_sdk>
        </onetrust>
    </default>
    <websites>
        <glucerna_website>
            <onetrust>
                <general>
                    <enabled>0</enabled>
                </general>
            </onetrust>
        </glucerna_website>
        <similac_website>
            <onetrust>
                <general>
                    <enabled>0</enabled>
                </general>
            </onetrust>
        </similac_website>
        <new_similac_website>
            <onetrust>
                <general>
                    <enabled>0</enabled>
                </general>
            </onetrust>
        </new_similac_website>
    </websites>
</config>
