<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_place_after">
        <observer name="post_checkout_consent_to_onetrust" instance="Abbott\OneTrust\Observer\OnetrustPostCheckoutConsent" />
    </event>
</config>
