<div data-role="checkout-agreements">
    <div class="checkout-agreements fieldset" data-bind="visible: isVisible">
        <!-- ko foreach: agreements -->
            <!-- ko if: ($parent.isAgreementRequired($data)) -->
            <div class="checkout-agreement field choice required">
                <input type="checkbox" class="required-entry"
                       data-bind="attr: {
                                    'id': $parent.getCheckboxId($parentContext, agreementId),
                                    'name': 'agreement[' + agreementId + ']',
                                    'value': agreementId,
                                    'class' : 'required-entry ' + $parent.getCheckboxName($parentContext)
                                    }"/>
                <label class="label" data-bind="attr: {'for': $parent.getCheckboxId($parentContext, agreementId)}">I Agree to the
                  <a data-bind="attr:{href:$parent.gettermLink()}" target="_blank" class="checkout-agreement-link">
                    <span data-bind="html: checkboxText"></span>
                  </a>
                </label>
                <div class="field-tooltip toggle">
                    <span class="field-tooltip-action action-help" data-toggle="dropdown" data-bind="mageInit: {'dropdown':{'activeClass': '_active'}}"></span>
                    <div class="field-tooltip-content" data-bind="html: content" data-target="dropdown"></div>
                </div>
            </div>
            <!-- /ko -->
            <!-- ko ifnot: ($parent.isAgreementRequired($data)) -->
            <div class="checkout-agreement">
                <button type="button" class="action action-show"
                        data-bind="click: function(data, event) { return $parent.showContent(data, event) }">
                    <span data-bind="html: checkboxText"></span>
                </button>
            </div>
            <!-- /ko -->
        <!-- /ko -->
        <div id="checkout-agreements-modal" data-bind="afterRender: initModal" style="display: none">
            <div class="checkout-agreements-item-content" data-bind="html: modalContent"></div>
        </div>
    </div>
</div>
