<!--@subject {{trans "Welcome to %store_name" store_name=$store.frontend_name}} @-->
<!--@vars {
"var this.getUrl($store, 'customer/account/')":"Customer Account URL",
"var customer.email":"Customer Email",
"var customer.name":"Customer Name"
} @-->
{{template config_path="design/email/header_template"}}


<table>
    <tr class="text-block bg-white">
        <td style="padding: 15px 20px;background-color: #484abe;">
            <h1><b>{{trans "Welcome to %store_name." store_name=$store.frontend_name}}</b></h1>
        </td>
    </tr>
    <tr class="text-block bg-white">
        <td style="padding: 20px;">
            <p class="mb25">
                {{trans
                    'To sign in to our site and set a password, click on the <a href="%create_password_url">link</a>:'
                    create_password_url="$this.getUrl($store,'customer/account/createPassword/',[_query:[id:$customer.id,token:$customer.rp_token],_nosid:1])"
                |raw}}
            </p>
            <ul class="ml30">
                <li><strong>{{trans "Email:"}}</strong><a href='{{var customer.email}}'> {{var customer.email}}</a></li>
            </ul>
            <p class="mb25">{{trans "When you sign in to your account, you will be able to:"}}</p>
            <ul class="ml30">
                <li>{{trans "Proceed through checkout faster"}}</li>
                <li>{{trans "Check the status of orders"}}</li>
                <li>{{trans "View past orders"}}</li>
                <li>{{trans "Store alternative addresses (for shipping to multiple family members and friends)"}}</li>
            </ul>
            <p class="mb25">{{trans "Kind regards,"}}</p>
            <p class="mb25">{{trans "%store_name.com Customer Service Team." store_name=$store.frontend_name |raw}}</p>
        </td>
    </tr>
</table>

<table class="button" width="100%" border="0" cellspacing="0" cellpadding="0" style="border: 20px solid #d5652c">
    <tr>
        <td class="pb0">
            <table class="inner-wrapper" border="0" cellspacing="0" cellpadding="0" align="center">
                <tr>
                    <td align="center" class="dark-red-bg">
                        <a class="shop-now-btn border-none glucerna-block" href="{{customVar code=glucernastore_url}}" target="_blank">{{trans "SHOP NOW >"}}</a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer_template"}}
