<!--@subject {{trans "Reset your %store_name password" store_name=$store.frontend_name}} @-->
<!--@vars {
"var customer.name":"Customer Name",
"var this.getUrl($store, 'customer/account/createPassword/', [_query:[id:$customer.id, token:$customer.rp_token]])":"Reset Password URL"
} @-->
{{template config_path="design/email/header_template"}}

<table>
    <tr class="text-block bg-white">
        <td style="padding: 20px;">
            <p class="mb25"><b>{{trans "You are receiving this email as a courtesy from our online store." }}</b><br/>
                  {{trans "Someone has entered this email address in the 'Forgot Password' section of the site"}}</p>
            <p class="mb25">{{trans "If you feel that you have received this email in error, please ignore it. Otherwise, follow the instruction below."}}</p>
            <p class="mb25">{{trans "If you have requested this email, you will find a link below that will allow you to change your password. Simply click the link and enter your new password."}}</p>
            <a href="{{var this.getUrl($store,'customer/account/createPassword/',[_query:[id:$customer.id,token:$customer.rp_token],_nosid:1])}}" target="_blank">{{trans "Set a New Password"}}</a>
            <p class="mb25" style="margin-top: 25px;">{{trans "Kind regards,"}}</p>
            <p class="mb25">{{trans '%store_name.com ' store_name=$store.frontend_name}}
               <a href="{{customVar code=glucerna_contactus_url}}">{{trans "Customer Service Team "}}</a>
               {{depend store_phone}} {{trans '<a href="tel:%store_phone">%store_phone</a>' store_phone=$store_phone |raw}}{{/depend}}
            </p>
        </td>
    </tr>
</table>

<table class="button" width="100%" border="0" cellspacing="0" cellpadding="0" style="border: 20px solid #d5652c">
    <tr>
        <td class="pb0">
            <table class="inner-wrapper" border="0" cellspacing="0" cellpadding="0" align="center">
                <tr>
                    <td align="center" class="dark-red-bg">
                        <a class="shop-now-btn border-none glucerna-block" href="{{customVar code=glucernastore_url}}" target="_blank">{{trans "SHOP NOW >"}}</a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer_template"}}
