<!--@subject {{trans "Your"}} {{var storeName}} {{trans "Customer Creation Failuare"}} @-->
<!--@vars {
"var errorMessage":"Error Message",
"var store": "Store",
"var storeName":"Store Name",
"var customerEmail":"Admin Email",
"var customerName":"Admin Name"
} @-->

{{template config_path="design/email/header_template"}}

<table>
    <tr>
        <td class="esd-structure es-p20t es-p30r es-p30l" align="left"
            style="background-color: #BFE6F7;height: 30px;">
            <table cellpadding="0" cellspacing="0" width="100%">
                <tbody>
                    <tr>
                        <td width="540" class="esd-container-frame" align="center"
                            valign="top">
                            <table cellpadding="0" cellspacing="0" width="100%">
                                <tbody>
                                    <tr>
                                        <td align="left" class="esd-block-text"
                                            style="padding: 10px 20px;">
                                            <p
                                                style="margin: 0;font-size: 13.5pt;
                                                font-family: Arial, sans-serif, serif, EmojiFont;
                                                text-transform: uppercase;font-weight: bold;">
                                            </p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr class="email-intro bg-white">
        <td style="font-family: Georgia, Arial, sans-serif, serif, EmojiFont;padding: 20px;">
        <p class="mb25"><strong>{{trans "Dear %name," name=$customerName}}</strong></p>
        <p class="mb25"><strong>{{trans "Customer creation failed due to below error"}}</strong></p>
        <p class="mb25">{{var errorMessage}}</p>
        <p class="mb25">{{trans "Kind regards,"}}</p>
        <p class="mb25">{{trans "%store_name.com" store_name=$store.frontend_name}}
           <a href="{{customVar code=abbott_contactus_url}}">{{trans"Customer Service Team"}}</a>
           {{depend store_phone}} {{trans '<a href="tel:%store_phone">(%store_phone)</a>' store_phone=$store_phone |raw}}{{/depend}}
        </p>
      </td>
    </tr>
    <tr>
        <td>
            <table border="0" cellspacing="0" cellpadding="0" style="background-color:white;width:100%;border-collapse:collapse;">
            <tbody>
                <tr>
                    <td valign="top" style="padding: 30pt 0px 30pt 0px;">
                        <p align="center" style="font-size:11pt;font-family:Calibri,sans-serif;text-align:center;margin:0;">
                            <span style="font-size: 12pt; font-family: Helvetica Neue, serif, EmojiFont; line-height: 13.5pt;"><a href="{{var url}}" target="_blank" rel="noopener noreferrer" data-auth="NotApplicable" style="background-color:rgb(0, 156, 222);border: 20px solid rgb(0, 156, 222); color: #ffffff;text-decoration: none;"><b><span style="font-size: 13.5pt; font-family: Arial, sans-serif, serif, EmojiFont; text-transform: uppercase;">
                                {{trans "visit %store_name >" store_name=$store.frontend_name |raw}}</span></b></a></span></p>
                    </td>
                </tr>
            </tbody>
            </table>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer_template"}}
