<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
     <menu>
          <add
            id="Abbott_Csp::menu"
            title="Abbott CSP"
            module="Abbott_Csp"
            sortOrder="130"
            parent="Magento_Backend::system"
            resource="Abbott_Csp::menu"
        />
        <add
            id="Abbott_Csp::csp_logs"
            title="CSP Logs"
            module="Abbott_Csp"
            parent="Abbott_Csp::menu"
            action="abbottcsp/report"
            sortOrder="100"
            resource="Abbott_Csp::csp_log_grid"
        />
     </menu>
</config>