<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
	<acl>
		<resources>
			<resource id="Magento_Backend::admin">
				<resource id="Magento_Backend::system" title="System" translate="title" sortOrder="30">
						<resource id="Abbott_WorkdayFeed::abbott" title="Abbott" translate="title" sortOrder="10">
								<resource id="Abbott_Hartehanks::harteHankLog" title="HH Inventory Log" translate="title" sortOrder="10">
									<resource id="Abbott_Hartehanks::delete" title="Delete Logs" translate="title" sortOrder="10" />
									<resource id="Abbott_Hartehanks::syncinventory" title="Sync Inventory" translate="title" sortOrder="20" />
								</resource>
								<resource id="Abbott_Hartehanks::hhPlaceOrderLog" title="HH PlaceOrder Log" translate="title" sortOrder="40">
									<resource id="Abbott_Hartehanks::deletelogs" title="Delete Logs" translate="title" sortOrder="10" />
									<resource id="Abbott_Hartehanks::placeorder" title="Place Order" translate="title" sortOrder="20" />
									<resource id="Abbott_Hartehanks::findorder" title="Find Order" translate="title" sortOrder="30" />
								</resource>
						</resource>
				</resource>
				<resource id="Magento_Backend::stores">
						<resource id="Magento_Backend::stores_settings">
								<resource id="Magento_Config::config">
										<resource id="Abbott_Hartehanks::config_hartehanks" title="HarteHanks Integration Configuration" translate="title" sortOrder="41" />
								</resource>
						</resource>
				</resource>
			</resource>
		</resources>
	</acl>
</config>
