<?xml version="1.0"?>
<!-- Frontend routes for Abbott_AdultSignature -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
  <router id="standard">
    <route id="abbott" frontName="abbott">
      <module name="Abbott_AdultSignature"/>
    </route>
  </router>
</config>
