<!--@subject {{trans "Welcome to %store_name" store_name=$store.frontend_name}} @-->
<!--@vars {
"var this.getUrl($store, 'customer/account/')":"Customer Account URL",
"var customer.email":"Customer Email",
"var customer.name":"Customer Name"
} @-->
{{template config_path="design/email/header_template"}}

<table>
    <tr class="text-block bg-white">
        <td style="font-family: Georgia, Arial, sans-serif, serif, EmojiFont;padding: 20px;">
            <p class="mb25">{{trans "Welcome to %store_name." store_name=$store.frontend_name}}</p>
            <p class="mb25">
                {{trans
                    'To sign in to our site and set a password, click on the <a href="%create_password_url">link</a>:'

                    create_password_url="$this.getUrl($store,'customer/account/createPassword/',[_query:[id:$customer.id,token:$customer.rp_token],_nosid:1])"
                |raw}}
            </p>
            <ul class="ml30">
                <li><strong>{{trans "Email:"}}</strong> <a href='{{var customer.email}}'>{{var customer.email}}</a></li>
            </ul>
            <p class="mb25">{{trans "When you sign in to your account, you will be able to:"}}</p>
            <ul class="ml30">
                <li>{{trans "Proceed through checkout faster"}}</li>
                <li>{{trans "Check the status of orders"}}</li>
                <li>{{trans "View past orders"}}</li>
                <li>{{trans "Store alternative addresses (for shipping to multiple family members and friends)"}}</li>
            </ul>
            <p class="mb25">{{trans "Kind regards,<br>%store_name.com Customer Service Team." store_name=$store.frontend_name |raw}}</p>
        </td>
    </tr>
    <tr>
      <td>
        <table border="0" cellspacing="0" cellpadding="0" style="background-color:white;width:100%;border-collapse:collapse;">
          <tbody>
            <tr>
                  <td valign="top" style="padding: 30pt 0px 30pt 0px;">
                      <p align="center" style="font-size:11pt;font-family:Arial,Calibri,sans-serif;text-align:center;margin:0;">
                          <span style="font-size: 12pt; font-family: Helvetica Neue, serif, EmojiFont; line-height: 13.5pt;"><a href="{{customVar code=abbottstore_url}}" target="_blank" rel="noopener noreferrer" data-auth="NotApplicable" style="background-color:rgb(0, 156, 222);border: 20px solid rgb(0, 156, 222); color: #ffffff;text-decoration: none;"><b><span style="font-size: 13.5pt; font-family: Arial, sans-serif, serif, EmojiFont; text-transform: uppercase;">
                                          {{trans "shop now >"}}</span></b></a></span></p>
                  </td>
              </tr>
          </tbody>
        </table>
      </td>
    </tr>
</table>

{{template config_path="design/email/footer_template"}}
