<!--@subject {{trans "Reset your %store_name password" store_name=$store.getFrontendName()}} @-->
<!--@vars {
"var customer.name":"Customer Name",
"var this.getUrl($store, 'customer/account/createPassword/', [_query:[id:$customer.id, token:$customer.rp_token]])":"Reset Password URL"
} @-->
{{template config_path="design/email/header_template"}}

<table>
    <tr>
        <td class="esd-structure es-p20t es-p30r es-p30l" align="left"
            style="background-color: #BFE6F7;height: 30px;">
            <table cellpadding="0" cellspacing="0" width="100%">
                <tbody>
                    <tr>
                        <td width="540" class="esd-container-frame" align="center"
                            valign="top">
                            <table cellpadding="0" cellspacing="0" width="100%">
                                <tbody>
                                    <tr>
                                        <td align="left" class="esd-block-text"
                                            style="padding: 10px 20px;">
                                            <p
                                                style="margin: 0;font-size: 15px;
                                                font-family: Arial, sans-serif, serif, EmojiFont;
                                                text-transform: uppercase;font-weight: bold;">
                                            </p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr class="text-block bg-white">
        <td style="font-family: Georgia, Arial, sans-serif, serif, EmojiFont;padding: 20px; font-size: 15px;">
            <p class="mb25" style="font-size: 15px;"><b>{{trans "You are receiving this email as a courtesy from our online store." }}</b><br/>
                  {{trans "Someone has entered this email address in the 'Forgot Password' section of the site"}}</p>
            <p class="mb25">{{trans "If you feel that you have received this email in error, please ignore it. Otherwise, please follow the instruction below."}}</p>
            <p class="mb25" style="font-size: 15px;">{{trans "If you have requested this email, you will find a link below that will allow you to change your password. Simply click the link and enter your new password."}}</p>
            <a style="font-size: 15px;" class="mb25" href="{{var this.getUrl($store,'customer/account/createPassword/',[_query:[id:$customer.id,token:$customer.rp_token],_nosid:1])}}" target="_blank">{{trans "Set a New Password"}}</a>
            <p class="mb25" style="margin-top: 25px; font-size: 15px;">{{trans "Kind regards,"}}</p>
            <p class="mb25" style="font-size: 15px;">{{trans '%store_name.com' store_name=$store.getFrontendName()}}
                <a href="{{customVar code=abbott_contactus_url}}">{{trans "Customer Service Team"}}</a>
               {{depend store_phone}}
                  {{trans '(%store_phone)' store_phone=$store_phone |raw}}
               {{/depend}}
            </p>
        </td>
    </tr>
    <tr>
      <td>
        <table border="0" cellspacing="0" cellpadding="0" style="background-color:white;width:100%;border-collapse:collapse; font-size: 15px;">
          <tbody>
            <tr>
                  <td valign="top" style="padding: 30pt 0px 30pt 0px;">
                      <p align="center" style="font-size: 18px;font-family:Calibri,sans-serif;text-align:center;margin:0;">
                          <span style="font-size: 18px; font-family: Helvetica Neue, serif, EmojiFont; line-height: 13.5pt;"><a href="{{customVar code=abbottstore_url}}" target="_blank" rel="noopener noreferrer" data-auth="NotApplicable" style="background-color:rgb(0, 156, 222);border: 20px solid rgb(0, 156, 222); color: #ffffff;text-decoration: none;"><b><span style="font-size: 18px; font-family: Arial, sans-serif, serif, EmojiFont; text-transform: uppercase;">
                                          {{trans "visit %store_name >" store_name=$store.getFrontendName()}}</span></b></a></span></p>
                  </td>
              </tr>
          </tbody>
        </table>
      </td>
    </tr>
</table>

{{template config_path="design/email/footer_template"}}
