<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <quote_abbott>
            <general>
                <enable_qty_limit>1</enable_qty_limit>
            </general>
        </quote_abbott>
    </default>
</config>
