<!-- ko foreach: getRegion('authentication') -->
<!-- ko template: getTemplate() --><!-- /ko -->
<!--/ko-->

<!-- ko foreach: getRegion('progressBar') -->
<!-- ko template: getTemplate() --><!-- /ko -->
<!--/ko-->

<!-- ko foreach: getRegion('estimation') -->
    <!-- ko template: getTemplate() --><!-- /ko -->
<!--/ko-->

<!-- ko foreach: getRegion('messages') -->
    <!-- ko template: getTemplate() --><!-- /ko -->
<!--/ko-->
<div class="opc-wrapper">
    <ol class="opc" id="checkoutSteps">
    <!-- ko foreach: getRegion('steps') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
    <!--/ko-->
    </ol>
    <!-- Changes for ANAPOLLO-7273 -->
    <div class="checkout-contact-hint" role="note" aria-live="polite">
      <p>
         <span dir="ltr" id="isPasted">Questions or issues with your order? 
         <a class="checkout-contact-link"
            data-bind="attr: { href: (window.checkoutConfig && window.checkoutConfig.contactUrl) ? window.checkoutConfig.contactUrl : '/contact' }">
Contact Us.
         </a>
         </span>
      </p>
   </div>
</div>

<!-- ko foreach: getRegion('sidebar') -->
    <!-- ko template: getTemplate() --><!-- /ko -->
<!--/ko-->
