@font-face {
    font-family: 'BrandonText-Black';
    src: url('../../fonts/BrandonText/BrandonText-Black.eot');
    src: url('../../fonts/BrandonText/BrandonText-Black.svg');
    src: url('../../fonts/BrandonText/BrandonText-Black.ttf');
    src: url('../../fonts/BrandonText/BrandonText-Black.woff') format('woff');
    src: url('../../fonts/BrandonText/BrandonText-Black.woff2') format('woff2');
}
@font-face {
    font-family: 'BrandonText-Bold';
    src: url('../../fonts/BrandonText/BrandonText-Bold.eot');
    src: url('../../fonts/BrandonText/BrandonText-Bold.svg');
    src: url('../../fonts/BrandonText/BrandonText-Bold.ttf');
    src: url('../../fonts/BrandonText/BrandonText-Bold.woff') format('woff');
    src: url('../../fonts/BrandonText/BrandonText-Bold.woff2') format('woff2');
}
@font-face {
    font-family: 'BrandonText-Medium';
    src: url('../../fonts/BrandonText/BrandonText-Medium.eot');
    src: url('../../fonts/BrandonText/BrandonText-Medium.svg');
    src: url('../../fonts/BrandonText/BrandonText-Medium.ttf');
    src: url('../../fonts/BrandonText/BrandonText-Medium.woff') format('woff');
    src: url('../../fonts/BrandonText/BrandonText-Medium.woff2') format('woff2');
}
@font-face {
    font-family: 'BrandonText-Regular';
    src: url('../../fonts/BrandonText/BrandonText-Regular.eot');
    src: url('../../fonts/BrandonText/BrandonText-Regular.svg');
    src: url('../../fonts/BrandonText/BrandonText-Regular.ttf');
    src: url('../../fonts/BrandonText/BrandonText-Regular.woff') format('woff');
    src: url('../../fonts/BrandonText/BrandonText-Regular.woff2') format('woff2');
}
@font-face {
    font-family: 'BrandonText-Light';
    src: url('../../fonts/BrandonText/BrandonText-Light.eot');
    src: url('../../fonts/BrandonText/BrandonText-Light.svg');
    src: url('../../fonts/BrandonText/BrandonText-Light.ttf');
    src: url('../../fonts/BrandonText/BrandonText-Light.woff') format('woff');
    src: url('../../fonts/BrandonText/BrandonText-Light.woff2') format('woff2');
}
@font-face {
    font-family: 'BrandonText-Thin';
    src: url('../../fonts/BrandonText/BrandonText-Thin.eot');
    src: url('../../fonts/BrandonText/BrandonText-Thin.svg');
    src: url('../../fonts/BrandonText/BrandonText-Thin.ttf');
    src: url('../../fonts/BrandonText/BrandonText-Thin.woff') format('woff');
    src: url('../../fonts/BrandonText/BrandonText-Thin.woff2') format('woff2');
}
@font-face {
    font-family: 'ai';
    src: url('../../fonts/ai/ai.svg');
    src: url('../../fonts/ai/ai.ttf');
    src: url('../../fonts/ai/ai.woff') format('woff');
}