<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
	<router id="admin">
		<route frontName="aw_sarp2_history" id="aw_sarp2_history">
			<module name="Abbott_Subscriptionhistory"/>
		</route>
	</router>
</config>
