@import '_var.less';

@font-face {
    font-family: 'Conv_Roboto-Light';
    src: url('../../fonts/Roboto/Roboto-Light.eot');
    src: local('☺'), url('../../fonts/Roboto/Roboto-Light.woff') format('woff'), url('../../fonts/Roboto/Roboto-Light.ttf') format('truetype'), url('../../fonts/Roboto/Roboto-Light.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Conv_Roboto-Regular';
    src: url('../../fonts/Roboto/Roboto-Regular.eot');
    src: local('☺'), url('../../fonts/Roboto/Roboto-Regular.woff') format('woff'), url('../../fonts/Roboto/Roboto-Regular.ttf') format('truetype'), url('../../fonts/Roboto/Roboto-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Conv_Roboto-Bold';
    src: url('../../fonts/Roboto/Roboto-Bold.eot');
    src: local('☺'), url('../../fonts/Roboto/Roboto-Bold.woff') format('woff'), url('../../fonts/Roboto/Roboto-Bold.ttf') format('truetype'), url('../../fonts/Roboto/Roboto-Bold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Conv_BrandonText-Regular';
    src: url('../../fonts/Brandon-Text/BrandonText-Regular.eot');
    src: local('☺'), url('../../fonts/Brandon-Text/BrandonText-Regular.woff') format('woff'), url('../../fonts/Brandon-Text/BrandonText-Regular.ttf') format('truetype'), url('../../fonts/Brandon-Text/BrandonText-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Conv_BrandonText-Bold';
    src: url('../../fonts/Brandon-Text/BrandonText-Bold.eot');
    src: local('☺'), url('../../fonts/Brandon-Text/BrandonText-Bold.woff') format('woff'), url('../../fonts/Brandon-Text/BrandonText-Bold.ttf') format('truetype'), url('../../fonts/Brandon-Text/BrandonText-Bold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'icomoon';
    src:  url('../../fonts/icomoon/icomoon.eot?mdv85t');
    src:  url('../../fonts/icomoon/icomoon.eot?mdv85t#iefix') format('embedded-opentype'),
    url('../../fonts/icomoon/icomoon.ttf?mdv85t') format('truetype'),
    url('../../fonts/icomoon/icomoon.woff?mdv85t') format('woff'),
    url('../../fonts/icomoon/icomoon.svg?mdv85t#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-left-arrow:before {
  content: "\e900";
}
.icon-arrow:before {
  content: "\e901";
}
.icon-cart:before {
  content: "\e902";
}
.icon-up-arrow:before {
  content: "\e903";
}
.icon-arrow-page-right:before {
  content: "\e904";
}
.icon-arrow-page-left:before {
  content: "\e905";
}
.icon-calendar:before {
  content: "\e906";
}

.navigate-top .scroll-top {
    position: fixed;
    right: 20px;
    bottom: 80px;
    z-index: 99;
    color: @white;
    opacity: 0;
}

input[type="text"], input[type="password"], input[type="url"], input[type="tel"], input[type="search"], input[type="number"], input[type="datetime"], input[type="email"] {
    font: inherit;
    border: 1px solid @border_color;
    border-radius: 6px;
    height: 40px;
    font-size: 16px;
    color: @text;
    letter-spacing: 0;
    line-height: 22px;
    font-weight: 400;
    text-align: left;
    padding: 0 16px;
}

@font-face {
    font-family: 'ai';
    src: url('../../fonts/ai/ai.svg');
    src: url('../../fonts/ai/ai.ttf');
    src: url('../../fonts/ai/ai.woff') format('woff');
}

*, :after, :before {
    box-sizing: border-box;
}

input[type="text"]:placeholder-shown, input[type="password"]:placeholder-shown, input[type="email"]:placeholder-shown, input[type="url"]:placeholder-shown, input[type="tel"]:placeholder-shown, input[type="search"]:placeholder-shown, input[type="number"]:placeholder-shown, input[type="datetime"]:placeholder-shown, .input-text:placeholder-shown, input[type="text"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder, input[type="email"]::-webkit-input-placeholder, input[type="url"]::-webkit-input-placeholder, input[type="tel"]::-webkit-input-placeholder, input[type="search"]::-webkit-input-placeholder, input[type="number"]::-webkit-input-placeholder, input[type="datetime"]::-webkit-input-placeholder, .input-text::-webkit-input-placeholder {
    color: @secondary;
    font-family: @text_font;
    font-style: normal;
}

input:-internal-autofill-selected {
    color: @text !important;
    background-color: @white !important;
}

.input-text:placeholder-shown, .input-text::-webkit-input-placeholder {
    font-family: @text_font;
    color: @secondary;
    font-style: normal;
}

.input-text_common {
    border: 1px solid @border_color;
    border-radius: 6px;
    height: 40px;
    font-size: 16px;
    color: @text;
    letter-spacing: 0;
    line-height: 22px;
    font-weight: 400;
    text-align: left;
    padding: 0 16px;
}

.input_entry_text {
    font-size: 16px;
    color: @text;
    letter-spacing: 0;
    line-height: 22px;
    font-weight: 400;
    text-align: left;
    font-family: @text_font;
}

.field_label {
    font-size: 18px;
    color: @label;
    letter-spacing: 0;
    line-height: 24px;
    font-weight: 700;
    text-align: left;
}

.input_select_field {
    border: 1px solid @border_color;
    padding: 4px 16px;
    padding-right: 45px;
    font-size: 16px;
    color: @text;
    letter-spacing: 0;
    line-height: 22px;
    font-weight: 400;
    text-align: left;
    border-radius: 6px;
    background: @white url(../../images/Chevron_Down.png) no-repeat 97% 45%;
}

body {
   font-family: @text_font; 
}

.page_title_account {
    font-size: 34px;
    color: @title;
    letter-spacing: 0;
    line-height: 43px;
    font-weight: 700;
    text-align: left;
    font-family: @title_font;    
    margin-bottom: 20px;
    text-transform: capitalize;
    @media only screen and (max-width: 767px) {
        width: 100%;
        font-size: 28px;
        line-height: 36px; 
        text-align: center;
        margin: 0 0 10px;
    }
}

ul>li, ol>li {
    margin-bottom: 0;
}

.h1_common {
    font: inherit;
    font-size: 40px;
    color: @title;
    letter-spacing: 0;
    line-height: 48px;
    font-family: @title_font;
    font-weight: 700;
    text-align: left;
    @media only screen and (max-width: 767px) {
        font-size: 20px;
        line-height: 22px;
    }
}

.h4_common {
    font: inherit;
    font-size: 24px; 
    color: @title; 
    letter-spacing: 0; 
    line-height: 30px; 
    font-family: @title_font; 
    font-weight: 400; 
    text-align: left;
}

.h5_common {
    font: inherit;
    font-size: 20px; 
    color: @title; 
    letter-spacing: 0; 
    line-height: 26px; 
    font-family: @title_font; 
    font-weight: 700; 
    text-align: left;
}

.footnote {
    font-size: 12px; 
    color: @text; 
    letter-spacing: 0; 
    line-height: 16px; 
    font-family: @text_font; 
    font-weight: 400; 
    text-align: left;
}

.btn_label_med {
    font: inherit;
    font-size: 18px; 
    color: @title; 
    letter-spacing: 0; 
    line-height: 20px; 
    font-family: @title_font; 
    font-weight: 700; 
}

.primary_bold {
    font: inherit;
    font-family: @text_font;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: @secondary;
}

.primary_normal {
    font: inherit;
    font-family: @text_font;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: @secondary;
}

.content_text {
    font-size: 18px; 
    color: @secondary; 
    letter-spacing: 0; 
    line-height: 24px; 
    font-family: @text_font; 
    font-weight: 400; 
    text-align: left;
}

._keyfocus *:focus, input:not([disabled]):focus, textarea:not([disabled]):focus, select:not([disabled]):focus {
    box-shadow: none;
}

.column.main select, body .column.main select, .toolbar select {
    border: 1px solid @border_color;
    padding: 4px 16px;
    padding-right: 45px;
    font-size: 16px;
    color: @text;
    letter-spacing: 0;
    line-height: 22px;
    font-weight: 400;
    font-family: @text_font;
    text-align: left;
    border-radius: 6px;
    box-shadow: none;
    background: @white url(../../images/Chevron_Down.png) no-repeat 95% 45%;
}

a, a:visited, a:hover {
    text-decoration: underline;
    color: @hyperlink;
}

.btn_primary {
    background: @action;
    border-radius: 25px;
    padding: 11px 24px;
    font-size: 18px;
    color: @white;
    letter-spacing: 0;
    text-align: center;
    line-height: 20px;
    font-weight: 700;
    font-family: @button_font;
    border: 0;
    text-transform: capitalize;
}

.btn_secondary {
    background: @white;
    border: 3px solid @action;
    border-radius: 25px;
    padding: 7px 14px;
    font-size: 18px;
    color: @action;
    letter-spacing: 0;
    text-align: center;
    line-height: 20px;
    font-weight: 700;
    font-family: @button_font;
    &:hover, &:focus {
        background: #fbeede;
        border: 3px solid @action_hover;
        color: @action_hover;
        outline: none;
    }
    &:active {
        border: 3px solid @action;
        background: #fff6e9;
        color: @action;
        outline: none;
    }
}

.btn_hover {
    background: @action_hover;
    border: 0;
    outline: none;
}

.btn_active {
    -webkit-box-shadow: inset 0px 0px 8px 2px rgba(0,0,0,0.5);
    -moz-box-shadow: inset 0px 0px 8px 2px rgba(0,0,0,0.5);
    box-shadow: inset 0px 0px 8px 2px rgba(0,0,0,0.5);
    border: 0;
    outline: none;
}

.btn_disabled {
    background: @action_disabled;
}

.price-including-tax, .price-excluding-tax {
    font-size: 16px;
}

.custom_radio {
    input[type="radio"] {
        &:before, &:after {
            display: none;
        }
    }
    input[type="radio"]:checked,
    input[type="radio"]:not(:checked) {
        position: absolute;
        left: -9999px;
        display: none;
    }
    input[type="radio"]:checked + label,
    input[type="radio"]:not(:checked) + label
    {
        position: relative;
        padding-left: 38px;
        cursor: pointer;
        display: block;
        font: inherit;
        font-size: 18px;
        color: @secondary;
        letter-spacing: 0;
        line-height: 24px;
        font-family: @text_font;
        font-weight: 400;
        text-align: left;
    }
    input[type="radio"]:checked + label:before,
    input[type="radio"]:not(:checked) + label:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 24px;
        height: 24px;
        border: 1px solid @gray2;
        border-radius: 100%;
        background: @white;
    }
    input[type="radio"]:checked + label:after,
    input[type="radio"]:not(:checked) + label:after {
        content: '';
        width: 12px;
        height: 12px;
        background: @gray;
        position: absolute;
        top: 6px;
        left: 6px;
        border-radius: 100%;
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;
    }
    input[type="radio"]:not(:checked) + label:after {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    input[type="radio"]:checked + label:after {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

button:not(.primary):active {
    box-shadow: none;
}

.custom_checkbox {
    input[type="checkbox"] {
        &:before, &:after {
            display: none;
        }
    }
    input[type="checkbox"]:checked,
    input[type="checkbox"]:not(:checked) {
        position: absolute;
        left: -9999px;
        display: none;
    }
    input[type="checkbox"]:checked + label,
    input[type="checkbox"]:not(:checked) + label
    {
        position: relative;
        padding-left: 38px;
        cursor: pointer;
        line-height: 20px;
        display: inline-block;
        color: @secondary;
    }
    input[type="checkbox"]:checked + label:before,
    input[type="checkbox"]:not(:checked) + label:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        margin: 0;
        padding: 0;
        width: 24px;
        height: 24px;
        border: 1px solid @gray2;
        background: @white;
        margin-right: 5px;
        border-radius: 4px;
    }
    input[type="checkbox"]:checked + label:after,
    input[type="checkbox"]:not(:checked) + label:after {
        content: '';
        display: block;
        position: absolute;
        top: 4px;
        left: 10px;
        width: 6px;
        height: 13px;
        border: 1px solid @white;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
        font-size: inherit;
        line-height: 1;
        margin: 0;
        padding: 0;
    }
    input[type="checkbox"]:checked + label:before {
        background: @gray;
        border: 1px solid @gray;
    }
    input[type="checkbox"]:not(:checked) + label:after {
        opacity: 0;
    }
    input[type="checkbox"]:checked + label:after {
        opacity: 1;
    }
}

.alert_msg {
    background: @alert_bg;
    font-size: 16px;
    color: @white;
    letter-spacing: 0;
    line-height: 20px;
    font-family: @text_font;
    font-weight: 400;
    text-align: left;
    padding: 10px 14px;
    box-sizing: border-box;
}

.th_common {
    font-size: 12px;
    color: @text;
    letter-spacing: 0;
    text-align: center;
    line-height: 16px;
    font-family: @text_font;
    font-weight: 700;
    padding: 17px 0;
    &:first-child, &:last-child {
        padding: 17px 0;
    }
}

.th_td_common {
    font-size: 12px; 
    color: @text; 
    letter-spacing: 0; 
    text-align: center; 
    line-height: 16px; 
    font-family: @text_font; 
    font-weight: 700; 
    padding: 17px 16px;
    @media only screen and (max-width: 768px) {
        font-size: 14px;
        line-height: 20px;
        color: @gray;
        text-align: left; 
        padding: 5px 0;
        &:last-child {
            padding: 5px 0 20px;
        }
    }
}

.required_note {
    font-size: 18px; 
    color: @secondary; 
    letter-spacing: 0; 
    line-height: 24px; 
    font-weight: 400; 
    text-align: left;
    margin: 0 0 15px;
    display: inline-block;
    width: 100%;
    font-family: @text_font;
}

.account, .checkout-onepage-success, .shipping-tracking-popup {
    .page-wrapper {
        .breadcrumbs {
            .item {
                font-size: 16px; 
                color: @gray; 
                letter-spacing: 0; 
                line-height: 22px; 
                font-family: @text_font; 
                font-weight: 400; 
                text-align: left;
                text-transform: capitalize;
                a {
                    color: @gray;
                }
                a:visited {
                    color: @gray;
                    text-decoration: none;
                }
                a:hover {
                    color: @hyperlink;
                    text-decoration: none;
                }
            }
        }
    }
}

.breadcrumbs {
    .items {
        color: @gray;
    }
}

.account {
    .page-main {
        padding-top: 0;
    }
    .page.messages {
        @media only screen and (max-width: 767px) {
            margin: 0;
        }
    }
}

.breadcrumbs, .page-main {
    @media only screen and (min-width: 768px) {    
        max-width: 720px;
        padding-left: 15px;
        padding-right: 15px;
    }
    @media only screen and (min-width: 992px) {
        max-width: 960px;
    }
    @media only screen and (min-width: 1200px) {
        max-width: 1140px;
    }
}
.account .page-main, .checkout-onepage-success .page-main, .account .page-wrapper .breadcrumbs {
    @media only screen and (min-width: 768px) {    
        max-width: 720px;
    }
    @media only screen and (min-width: 992px) {
        max-width: 960px;
    }
    @media only screen and (min-width: 1200px) {
        max-width: 1140px;
    }
}

.loading-mask {
    .loader {
        > img {
            max-width: 100px;
        }
    }
}
