// Global and reqiured variables defined in _var.less partial file */


//====== Default Variables ======*/

@primary : #007DB3;
@secondary : #002F87;
@title : @secondary;
@label : @secondary;
@text : #474747;
@action : #FE9E1F;
@action_hover : #E48D1B;
@action_disabled : #ccc;
@border_color : #029CE8;
@yellow : #FE9E1F;
@hyperlink : @yellow;
@black : #000;
@white : #fff;
@gray : #777777;
@gray2 : #474747;
@alert_bg : #E4002B;
@green: #1AAF46;

@title_font : 'Conv_BrandonText-Bold';
@button_font : 'Conv_BrandonText-Regular';
@text_font : 'Conv_Roboto-Regular';
@text_font_bold : 'Conv_Roboto-Bold';

