<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="abbott" translate="label" sortOrder="1">
            <label>Abbott</label>
        </tab>
        <section id="fedex_settings" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <tab>abbott</tab>
            <label>Fedex Delay</label>
            <resource>Abbott_FedexDelay::fedexdelay_setting</resource>
            <group id="fedex_delay_configuration" sortOrder="10" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Fedex Delay Configuration</label>
                <field id="is_delayed" translate="label" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Is Fedex Delayed</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="delay_message" translate="label" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Delayed Message</label>
                </field>
            </group>
        </section>
    </system>
</config>


