<!--@subject {{trans "Notification for your upcoming Schedule & Save order"}} @-->
<!--@vars {
"layout handle=\"aw_sarp2_email_profile_items\" profile=$profile area=\"frontend\"":"Subscription Items Grid"
} @-->

{{template config_path="design/email/header_template"}}

<table>
    <tr>
        <td class="esd-structure es-p20t es-p30r es-p30l" align="left"
            style="background-color: #BFE6F7;height: 30px;">
            <table cellpadding="0" cellspacing="0" width="100%">
                <tbody>
                    <tr>
                        <td width="540" class="esd-container-frame" align="center"
                            valign="top">
                            <table cellpadding="0" cellspacing="0" width="100%">
                                <tbody>
                                    <tr>
                                        <td align="left" class="esd-block-text"
                                            style="padding: 10px 20px;">
                                            <p
                                                style="margin: 0;font-size: 13.5pt;
                                                font-family: Arial, sans-serif, serif, EmojiFont;
                                                text-transform: uppercase;font-weight: bold;">
                                            </p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr class="email-intro bg-white">
        <td class="pt25" style="font-family: Georgia, Arial, sans-serif, serif, EmojiFont;padding: 20px;">
            <p><b style="font-family: Georgia, Arial, sans-serif, serif, EmojiFont;">{{trans "Dear %customerName," customerName=$customerName}}</b></p>
        </td>
    </tr>
    <tr class="email-information bg-white" style="font-family: Georgia, Arial, sans-serif, serif, EmojiFont; font-size: 15px">
        <td style="font-family: Georgia, Arial, sans-serif, serif, EmojiFont;padding: 0 20px; font-size: 15px">
            <p class="mb">{{trans "Your Schedule & Save order will be processed on %nextPaymentDate. If this date falls on weekend or holiday, your order will be processed the next business day." nextPaymentDate=$nextPaymentDate}}</p>
            <p class="mb25">{{trans "Your Schedule & Save Subscription can be updated by logging in to your account at "}}<a href="{{customVar code=abbottstore_url}}">{{trans "%store_name.com" store_name=$store.frontend_name}}</a>{{trans " and viewing My Account--My Scheduled Orders. Any Subscription changes within 24 hours of order generation will need to be completed by contacting %store_name.com Customer Service at %store_phone,%store_hours " store_name=$store.frontend_name store_phone=$store_phone store_hours=$store_hours |raw}}</p>
            <p class="mb25">{{trans "Once your order ships, you will receive an additional email with tracking details."}}</p>
            <p class="mb25">{{trans 'For additional questions or concerns and to contact Customer Service, '}}<a href="{{customVar code=abbott_contactus_url}}">{{trans"click here"}}</a>.</p>
            <p class="mb25">{{trans "Once again, thank you for your business with "}}<a href="{{customVar code=abbottstore_url}}">{{trans "%store_name.com" store_name=$store.frontend_name}}</a>.</p>
            <p class="mb25">{{trans "Kind regards,"}}</p>
            <p class="mb25">{{trans "%store_name.com " store_name=$store.frontend_name}}
               <a href="{{customVar code=abbott_contactus_url}}">{{trans "Customer Service Team"}}</a>
               {{depend store_phone}} {{trans '<a href="tel:%store_phone">(%store_phone)</a>' store_phone=$store_phone |raw}}{{/depend}}
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <table border="0" cellspacing="0" cellpadding="0" style="background-color:white;width:100%;border-collapse:collapse;">
            <tbody>
                <tr>
                    <td valign="top" style="padding: 30pt 0px 30pt 0px;">
                        <p align="center" style="font-size:11pt;font-family:Calibri,sans-serif;text-align:center;margin:0;">
                            <span style="font-size: 12pt; font-family: Helvetica Neue, serif, EmojiFont; line-height: 13.5pt;"><a href="{{customVar code=abbottstore_url}}" target="_blank" rel="noopener noreferrer" data-auth="NotApplicable" style="background-color:rgb(0, 156, 222);border: 20px solid rgb(0, 156, 222); color: #ffffff;text-decoration: none;"><b><span style="font-size: 13.5pt; font-family: Arial, sans-serif, serif, EmojiFont; text-transform: uppercase;">
                                            {{trans "shop now >"}}</span></b></a></span></p>
                    </td>
                </tr>
            </tbody>
            </table>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer_template"}}
