<?xml version="1.0"?>
<!--
/**
* Copyright 2019 aheadWorks. All rights reserved.
See LICENSE.txt for license details.
*/
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="store_add">
        <observer name="aw_sarp2_sequence" instance="Aheadworks\Sarp2\Observer\SequenceCreatorObserver" />
    </event>
    <event name="checkout_submit_all_after">
        <observer name="aw_sarp2_save_order_after_submit" instance="Aheadworks\Sarp2\Observer\SaveOrderAfterSubmitObserver" />
    </event>
    <event name="sales_quote_payment_import_data_before">
        <observer name="aw_sarp2_payment_import_data_before" instance="Aheadworks\Sarp2\Observer\PaymentDataImportObserver"/>
    </event>
    <event name="payment_method_is_active">
        <observer name="aw_sarp2_is_payment_method_active" instance="Aheadworks\Sarp2\Observer\PaymentMethodAvailabilityObserver" />
    </event>
    <event name="payment_method_assign_data_braintree">
        <observer name="aw_sarp2_braintree_gateway_data_assign" instance="Aheadworks\Sarp2\Observer\PaymentMethodDataAssignObserver" />
    </event>
    <event name="payment_method_assign_data_braintree_paypal">
        <observer name="aw_sarp2_braintree_paypal_gateway_data_assign" instance="Aheadworks\Sarp2\Observer\PaymentMethodDataAssignObserver" />
    </event>
    <event name="payment_method_assign_data_aw_bambora_apac">
        <observer name="aw_sarp2_aw_bambora_apac_gateway_data_assign" instance="Aheadworks\Sarp2\Observer\PaymentMethodDataAssignObserver" />
    </event>
    <event name="payment_method_assign_data_authorizenet_acceptjs">
        <observer name="aw_sarp2_stripe_payments_data_assign" instance="Aheadworks\Sarp2\Observer\PaymentMethodDataAssignObserver" />
    </event>
    <event name="payment_method_assign_data_stripe_payments">
        <observer name="aw_sarp2_stripe_payments_data_assign" instance="Aheadworks\Sarp2\Observer\StripePayments\DataAssignObserver" />
    </event>
    <event name="payment_method_assign_data_aw_sarp_braintree_recurring">
        <observer name="aw_sarp2_braintree_recurring_gateway_data_assign" instance="Aheadworks\Sarp2\Observer\BraintreeRecurring\DataAssignObserver" />
    </event>
    <event name="payment_method_assign_data_aw_sarp_braintree_paypal_recurring">
        <observer name="aw_sarp2_braintree_paypal_recurring_gateway_data_assign" instance="Aheadworks\Sarp2\Observer\BraintreeRecurring\DataAssignObserver" />
    </event>
    <event name="payment_method_assign_data_aw_sarp_aw_bambora_apac_recurring">
        <observer name="aw_sarp_bambora_apac_recurring_gateway_data_assign" instance="Aheadworks\Sarp2\Observer\BamboraApacRecurring\DataAssignObserver" />
    </event>
    <event name="payment_method_assign_data_aw_sarp_stripe_payments_recurring">
        <observer name="aw_sarp_stripe_payments_recurring_gateway_data_assign" instance="Aheadworks\Sarp2\Observer\StripePaymentsRecurring\DataAssignObserver" />
    </event>
    <event name="customer_save_after_data_object">
        <observer name="aw_sarp2_assign_profile_to_customer" instance="Aheadworks\Sarp2\Observer\AssignProfileToCustomerObserver" />
    </event>
    <event name="catalog_product_attribute_update_before">
        <observer name="aw_sarp2_attribute_update" instance="Aheadworks\Sarp2\Observer\MassUpdateSubscriptionOptionsObserver" />
    </event>
    <event name="sales_model_service_quote_submit_before">
        <observer name="aw_sarp2" instance="Aheadworks\Sarp2\Observer\BeforeQuoteSubmitObserver" />
    </event>
    <event name="aw_sarp2_sampler_place_command_before_stripe_payments">
        <observer name="aw_sarp2" instance="Aheadworks\Sarp2\Observer\StripePaymentsSampler\CustomerPaymentMethodAssignObserver" />
    </event>
</config>
