<!--@subject {{trans "Your %store_name password has been changed" store_name=$store.frontend_name}} @-->
<!--@vars {
"var customer.name":"Customer Name",
"var $this.getUrl($store,'contact-us/',[_nosid:1])":"Contact Us URL"
} @-->
{{template config_path="design/email/header_template"}}

<table>
    <tr class="text-block bg-white">
        <td style="font-family: Georgia, Arial, sans-serif, serif, EmojiFont;padding: 20px;">
            <p><b>{{trans "Dear %name," name=$customer.name}}</b></p>
            <p class="mb25">{{trans "We have received a request to change the following information associated with your account at %store_name: Password." store_name=$store.frontend_name}}</p>
            <p class="mb25">
               {{trans 'If you have not authorized this action, please contact '}} <a href="{{customVar code=abbott_contactus_url}}">{{trans "%store_name Customer Service" store_name=$store.frontend_name}}</a>
               {{trans ' immediately at '}} <a href="{{customVar code=abbott_contactus_url}}">{{customVar code=abbott_contactus_url}}</a>
               {{depend store_phone}} {{trans 'or by calling tel:<a href="tel:%store_phone">%store_phone</a>' store_phone=$store_phone |raw}}{{/depend}}
               {{trans 'Our representatives are available Monday through Friday, 9 AM - 6 PM ET.'}}
            </p>
            <p class="mb25">{{trans "Kind regards,"}}</p>
            <p class="mb25">{{trans "%store_name.com Customer Service Team." store_name=$store.frontend_name |raw}}</p>
        </td>
    </tr>
    <tr>
      <td>
        <table border="0" cellspacing="0" cellpadding="0" style="background-color:white;width:100%;border-collapse:collapse;">
          <tbody>
            <tr>
                  <td valign="top" style="padding: 30pt 0px 30pt 0px;">
                      <p align="center" style="font-size:11pt;font-family:Calibri,sans-serif;text-align:center;margin:0;">
                          <span style="font-size: 12pt; font-family: Helvetica Neue, serif, EmojiFont; line-height: 13.5pt;"><a href="{{customVar code=abbottstore_url}}" target="_blank" rel="noopener noreferrer" data-auth="NotApplicable" style="background-color:rgb(0, 156, 222);border: 20px solid rgb(0, 156, 222); color: #ffffff;text-decoration: none;"><b><span style="font-size: 13.5pt; font-family: Arial, sans-serif, serif, EmojiFont; text-transform: uppercase;">
                                          {{trans "shop now >"}}</span></b></a></span></p>
                  </td>
              </tr>
          </tbody>
        </table>
      </td>
    </tr>
</table>

{{template config_path="design/email/footer_template"}}
