<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
         <section id="aboott_message" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Message Settings</label>
            <tab>abbott</tab>
            <resource>Abbott_MyAccount::config_myaccount</resource>
            <group id="ssm_user_notes" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>SSM User Notes</label>
                <field id="messagenote" translate="label" type="textarea" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Notes</label>
                </field>
            </group>
            <group id="subscription_user_notes" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Subscription User Notes</label>
                <field id="subscriptionusermessage" translate="label" type="textarea" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Subscription User Note</label>
                </field>
            </group>
        </section>
    </system>
</config>