<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <cartrulemessage>
            <settings>
                <enable>1</enable>
                <enable_admin>1</enable_admin>
            </settings>
        </cartrulemessage>
    </default>
    <stores>
        <abbott>
            <cartrulemessage>
                <settings>
                    <enable>1</enable>
                </settings>
            </cartrulemessage>
        </abbott>
        <new_similac>
            <cartrulemessage>
                <settings>
                    <enable>0</enable>
                </settings>
            </cartrulemessage>
        </new_similac>
        <glucerna>
            <cartrulemessage>
                <settings>
                    <enable>0</enable>
                </settings>
            </cartrulemessage>
        </glucerna>
    </stores>
</config>