<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd"> 
	<preference for="Magento\CatalogGraphQl\Model\Resolver\Products" type="Abbott\SmileSearch\Rewrite\Magento\CatalogGraphQl\Model\Resolver\Products"/>
	<type name="Magento\Search\Model\Query">
        <plugin name="save_greater_then_zero_search_results" type="Abbott\SmileSearch\Plugin\Query" />
    </type>
    <preference for="Magento\AdvancedSearch\Model\ResourceModel\Recommendations" type="Abbott\SmileSearch\Model\ResourceModel\Recommendations"/>
</config>
