<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Abbott\SecureAdmin\Logger\MboUserDeactivateHandler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Abbott\SecureAdmin\Logger\MboUserDeactivateLogger">
        <arguments>
            <argument name="name" xsi:type="string">MboUserDeactivateCronLog</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="system" xsi:type="object">Abbott\SecureAdmin\Logger\MboUserDeactivateHandler</item>
            </argument>
        </arguments>
    </type>
</config>