<?xml version="1.0"?>
<!--
/**
* Copyright 2019 aheadWorks. All rights reserved.
See LICENSE.txt for license details.
*/
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="aheadworks" translate="label" sortOrder="300">
            <label>Aheadworks Extensions</label>
        </tab>
        <section id="aw_sarp2" translate="label" type="text" sortOrder="151" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Subscriptions and Recurring Payments 2</label>
            <tab>aheadworks</tab>
            <resource>Aheadworks_Sarp2::config_aw_sarp</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="default_shipping_method" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Shipping Method For Subscription Orders</label>
                    <source_model>Aheadworks\Sarp2\Model\Config\Source\ShippingMethod</source_model>
                    <comment>This method will be used if a shipping method from initial order can't be applied.</comment>
                </field>
                <field id="log_enabled" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable Extension Log</label>
                    <source_model>Aheadworks\Sarp2\Model\Config\Source\YesRecommendedNo</source_model>
                </field>
            </group>
            <group id="engine" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Engine</label>
                <field id="use_bundled_payments" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Merge same-day subscriptions</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Applies to subscriptions of shippable products which the same shipping addresses. In case of different shipping methods, the one set as "Shipping Method For Subscription Orders" will be used. Make sure to set up default shipping method for subscription orders (the option above).</comment>
                </field>
            </group>
            <group id="email_settings" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Email Settings</label>
                <field id="email_identity" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Email Sender</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Identity</source_model>
                </field>
                <field id="successful_billing_email_enabled" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Successful Billing Email</label>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                </field>
                <field id="successful_billing_email_template" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Billing Successful Email Template</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                    <depends>
                        <field id="successful_billing_email_enabled">1</field>
                    </depends>
                </field>
                <field id="failed_billing_email_enabled" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Failed Billing Email</label>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                </field>
                <field id="failed_billing_email_template" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Billing Failed Email Template</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                    <depends>
                        <field id="failed_billing_email_enabled">1</field>
                    </depends>
                </field>
                <field id="failed_billing_email_bcc" translate="label comment" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Send BCC to admin</label>
                    <comment>All emails about billing failure will be copied to this address. Separate several addresses with commas. Leave empty to disable.</comment>
                    <depends>
                        <field id="failed_billing_email_enabled">1</field>
                    </depends>
                </field>
                <field id="upcoming_billing_email_days_offset" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Send Reminder About Next Billing, Days</label>
                    <validate>integer validate-zero-or-greater</validate>
                </field>
                <field id="upcoming_billing_email_template" translate="label" type="select" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Next Billing Email Reminder Template</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                    <depends>
                        <field id="upcoming_billing_email_days_offset" negative="1"><![CDATA[]]></field>
                    </depends>
                </field>
            </group>
            <group id="subscription_editing" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1">
                <label>Subscription Editing</label>
                <field id="can_switch_to_another_plan" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1">
                    <label>Switch To Another Plan</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="can_change_shipping_address" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1">
                    <label>Change Shipping Address</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="can_edit_next_payment_date" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1">
                    <label>Allow Editing Next Payment Date</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="earliest_next_payment_date" translate="label comment" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Earliest Next Payment Date, Days</label>
                    <comment>Set the offset in days. Setting to 0 is not recommended. Set to 1 to allow choosing "tomorrow"...</comment>
                    <validate>validate-digits validate-zero-or-greater</validate>
                    <depends>
                        <field id="can_edit_next_payment_date">1</field>
                    </depends>
                </field>
                <field id="can_edit_next_payment_date_for_membership" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1">
                    <label>Allow next payment date editing for membership</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="can_edit_next_payment_date">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
