<!--@subject {{trans "Your %store_name email and password has been changed" store_name=$store.frontend_name}} @-->
<!--@vars {} @-->
{{template config_path="design/email/header_template"}}

<table>
    <tr class="text-block bg-white">
        <td>
            <p class="padding-left-right-20 pt25"><b>{{trans "Dear %name," name=$customer.name}}</b></p>

            <p class="padding-left-right-20 mb25">
                {{trans "We have received a request to change the following information associated with your account at %store_name: email, password." store_name=$store.frontend_name}}
            </p>
            <p class="padding-left-right-20 mb25">
                {{trans 'If you have not authorized this action, please contact '}} <a href="{{customVar code=newsimilac_contactus_url}}">{{trans "%store_name Customer Service" store_name=$store.frontend_name}}</a>
                {{trans ' immediately at '}} <a href="{{customVar code=newsimilac_contactus_url}}">{{customVar code=newsimilac_contactus_url}}</a>
                {{depend store_phone}} {{trans 'or by calling tel:<a href="tel:%store_phone">%store_phone</a>' store_phone=$store_phone |raw}}{{/depend}}
                {{trans 'Our representatives are available Monday through Friday, 9 AM - 6 PM ET.'}}
            </p>

            <p class="padding-left-right-20 mb25">{{trans "Kind regards,<br>%store_name Customer Service Team." store_name=$store.frontend_name |raw}}</p>
        </td>
    </tr>
</table>

<table class="text-block" width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td class="pb0">
            <table class="inner-wrapper" border="0" cellspacing="0" cellpadding="0" align="center">
                <tr>
                    <td align="center" class="green-bg">
                        <a class="shop-now-btn border-none" href="{{customVar code=newsimilacstore_url}}" target="_blank">{{trans "SHOP NOW >"}}</a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer_template"}}

