<!--@subject {{trans "Reset your %store_name password" store_name=$store.frontend_name}} @-->
<!--@vars {
"var customer.name":"Customer Name",
"var this.getUrl($store, 'customer/account/createPassword/', [_query:[id:$customer.id, token:$customer.rp_token]])":"Reset Password URL"
} @-->
{{template config_path="design/email/header_template"}}

<table>
    <tr>
        <td class="esd-structure es-p20t es-p30r es-p30l" align="left"
            style="background-color: #BFE6F7;height: 30px;">
            <table cellpadding="0" cellspacing="0" width="100%">
                <tbody>
                    <tr>
                        <td width="540" class="esd-container-frame" align="center"
                            valign="top">
                            <table cellpadding="0" cellspacing="0" width="100%">
                                <tbody>
                                    <tr>
                                        <td align="left" class="esd-block-text"
                                            style="padding: 10px 20px;">
                                            <p
                                                style="margin: 0;font-size: 13.5pt;
                                                font-family: Arial, sans-serif, serif, EmojiFont;
                                                text-transform: uppercase;font-weight: bold;">
                                            </p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr class="text-block bg-white">
        <td class="pt25">
            <p class="mb25 padding-left-right-20"><b>{{trans "You are receiving this email as a courtesy from our online store." }}</b><br/>
                  {{trans "Someone has entered this email address in the 'Forgot Password' section of the site"}}</p>
            <p class="mb25 padding-left-right-20">{{trans "If you feel that you have received this email in error, please ignore it. Otherwise, follow the instruction below."}}</p>
            <p class="mb25 padding-left-right-20">{{trans "If you have requested this email, you will find a link below that will allow you to change your password. Simply click the link and enter your new password."}}</p>
            <a class="mb25 padding-left-right-20" href="{{var this.getUrl($store,'customer/account/createPassword/',[_query:[token:$customer.rp_token],_nosid:1])}}" target="_blank">{{trans "Set a New Password"}}</a>
            <p class="mb25 padding-left-right-20">{{trans "Kind regards,"}}</p>
            <p class="mb25 padding-left-right-20">{{trans '%store_name.com' store_name=$store.frontend_name}}
                <a href="{{customVar code=newsimilac_contactus_url}}">{{trans "Customer Service Team"}}</a>
               {{depend store_phone}}
                  {{trans '(%store_phone)' store_phone=$store_phone |raw}}
               {{/depend}}
            </p>
        </td>
    </tr>
</table>

<table class="button" width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td style="padding-bottom: 0;">
            <table border="0" cellspacing="0" cellpadding="0" align="center">
                <tr>
                    <td align="center" class="bg-white">
                        <a class="visit-abbott-btn" href="{{customVar code=newsimilacstore_url}}" target="_blank">{{trans "visit %store_name >" store_name=$store.frontend_name}}</a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer_template"}}
