<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
	<acl>
		<resources>
			<resource id="Magento_Backend::admin">
				<resource id="Abbott_Webhook::webhook" sortOrder="10" title="webhook">
					<resource id="Abbott_Webhook::webhook_save" sortOrder="10" title="Save webhook"/>
					<resource id="Abbott_Webhook::webhook_delete" sortOrder="20" title="Delete webhook"/>
					<resource id="Abbott_Webhook::webhook_update" sortOrder="30" title="Update webhook"/>
					<resource id="Abbott_Webhook::webhook_view" sortOrder="40" title="View webhook"/>
				</resource>
			</resource>
		</resources>
	</acl>
</config>
