<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/Module/etc/module.xsd">
    <module name="Abbott_Backorder" setup_version="1.0.0">
        <sequence>
            <module name="Abbott_ShoppingCart" />
        </sequence>
    </module>
</config>