<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="glucerna_order" translate="label" sortOrder="310" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Glucerna Order</label>
            <tab>abbott</tab>
            <resource>Abbott_GlucernaOrders::config_glucernaorders</resource>
            <group id="backorder_message" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Glucerna Backorder Message</label>
                <field id="message" translate="label" type="textarea" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Message</label>
                </field>
            </group>
        </section>
    </system>
</config>