body {
    font-size: 11pt;
}
table {
    width: 100%
}

.text-block {
    font-family: Arial, sans-serif, serif, EmojiFont;
    text-align: left;
}

.text-block h1 {
    font-size: 15pt;
    background: #484abe;
    color: #fff;
    margin-bottom: 0;
}

.text-uppercase {
    text-transform: uppercase;
}

.ml30 {
    margin-left: 30px;
}

.text-block table {
    width: 100%;
    font-size: 11pt;
    color: rgb(0, 42, 58);
}

.text-block table th {
    text-align: left;
}

.visit-abbott-btn {
    background: #009cde;
    color: #fff;
    padding: 20px 50px;
    font-size: 15pt;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    margin: 40px 0;
    font-weight: bold;
}

.padding-left-right-20 {
    padding: 0 20px;
}

.mb25 {
    margin-bottom: 25px;
    font-size: 11pt;
}

.light-blue {
    color: #484abe;
}

h3.light-blue {
    font-size: 13.5pt;
}

.padding-left15 {
    padding-left:15px !important;
}

.padding-right15 {
    padding-right:15px;
}

.order-totals th, .order-totals td {
    background-color: #fff !important;
}

.detail-table {
    text-align: left;
}

.detail-table td, .detail-table th {
    padding: 15px !important;
}

.detail-table td p {
    margin:0;
}

.detail-table th {
    width: 290px;
    text-transform: uppercase;
}

.pt25 {
    padding-top: 25px;
}

.border-top-none {
    border-top: none;
}

.return-heading {
    background-color: #484abe;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px !important;
}

.dark-red-bg {
    background-color:#D5652C !important;
    border-radius: 0 !important;
    padding-bottom: 0px !important;
}

.border-none {
    border: none !important;
}

.shop-now-btn {
    color: #fff !important;
    text-transform: uppercase;
    font-size: 24px !important;
    background-color: #D5652C;
}

.padding-left20 {
    padding-left: 20px !important;
}

.pb0 {
    padding-bottom: 0 !important;
}

.link-underline {
    text-decoration: underline;
}

.pb10 {
    padding-bottom: 10px;
}

.pb30 {
    padding-bottom: 30px !important;
}

.text-right {
    text-align: right !important;
    font-weight: 400;
    padding-right: 30px;
    padding-bottom: 12px;
}

.action-btn-container {
    background-color:#D5652C !important;
    border-radius: 0 !important;
    padding-bottom: 0px !important;
}

.action-btn {
    color: #fff !important;
    text-transform: uppercase;
    font-size: 24px !important;
    background-color: #D5652C;
    border: none !important;
}

.background-none {
    background-color: transparent !important;
}

tr {
    padding: 0;
}

td {
    padding: 0;
}

.glucerna-block {
    display: block !important;
}

.bg-white {
    background-color: #ffffff;
}

.pb25 {
    padding-bottom: 25px;
}

.shipping-padding {
    padding-right:15px;
    display: block;
}
