<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<tab id="abbott" translate="label" sortOrder="1">
            <label>Abbott</label>
        </tab>
		<section id="customproductattributeexport" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
			<label>Custom Product Attribute Export</label>
			<tab>abbott</tab>
			<resource>Abbott_CustomProductAttributeExport::abbott_customproductattributeexport</resource>
			<group id="configuration" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
				<label>Configuration</label>
				<field id="enable" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="select">
					<label>Enable Module</label>
					<comment><![CDATA[Version 1.0.6]]></comment>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="allowedattribute" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="multiselect">
					<label>Allowed Atrributes</label>
					<comment>Please select attributes which you want to have separate columns while exporting catalog products.</comment>
					<source_model>Abbott\CustomProductAttributeExport\Model\Config\Source\Allowedattribute</source_model>
				</field>
			</group>
		</section>
	</system>
</config>
